{% load static %}
<a href={% url 'dataObjects:home' %}><div class="logo"><img src="/static/background/logo.png" alt=""></div></a>
<div class="container-header-buttons">
    <a class="content-nav out-obj"     href={% url 'dataObjects:out-obj' %}> Saida de Equipamentos </a>       
    <a class="content-nav register-obj"     href={% url 'dataObjects:register' %}> Registro de Equipamentos </a>      
    <a class="content-nav extern-requests"     href={% url 'dataObjects:extern-request' %}> Solicitações de saida </a>
    <a class="content-nav scale-funcs"     href={% url 'dataObjects:scale-funcs' %}> Escala de Funcionarios </a>   
    <a class="content-nav comunicate"     href={% url 'dataObjects:communicate' %}> Comunicados </a>   
</div>
{% comment %} <a href={% url 'dataObjects:home' %}><div class="login"></div></a> {% endcomment %}
