:root{
    --color-primary: #ffffff9a;            
    --color-primary-light: #dfdfdfde;
    --color-primary-dark: #302a1a8e;
    --color-background: #ffdb97;
    --color-background-secundary: #b0edfc73;
    --color-background-transparent: #fdfdfd75;

    --font-primary:  Verdana, Arial;
    --font-size-search: 1.5em;
    --font-color: #420000;
    --font-color-secundary: rgb(83, 174, 248);

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #e70303;

}
*{
    font-family: var(--font-primary);
}
a{
    text-decoration: none;
    font-size: 1.3rem;
    color: white
    
}
h1{
    text-align: center;
}

body{
    transition: .3s transform linear, .3s height linear .5s;
    -webkit-transition: .3s transform linear, .3s height linear .5s;
    -moz-transition: .3s transform linear, .3s height linear .5s;
    -ms-transition: .3s transform linear, .3s height linear .5s;
    -o-transition: .3s transform linear, .3s height linear .5s;
    margin: 0px;
    background: rgb(131,58,180);
    background: -moz-linear-gradient(74deg, rgba(131,58,180,0.14609593837535018) 0%, rgba(253,29,29,0.15730042016806722) 50%, rgba(252,176,69,0.15730042016806722) 100%);
    background: -webkit-linear-gradient(74deg, rgba(131,58,180,0.14609593837535018) 0%, rgba(253,29,29,0.15730042016806722) 50%, rgba(252,176,69,0.15730042016806722) 100%);
    background: linear-gradient(74deg, rgba(131,58,180,0.14609593837535018) 0%, rgba(253,29,29,0.15730042016806722) 50%, rgba(252,176,69,0.15730042016806722) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    /* background-color: var(--color-primary); */
}
header{ 
    background: rgb(131,58,180);
    background: -moz-linear-gradient(74deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(74deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(74deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
        position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 8rem;
    margin: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

img{
    width: 100%;
    height: 100%;
}
table {
    background-color: white;

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  input, button, select, option{
    padding: 0.3rem 0.9rem;
  }
button:disabled,
.disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.center{
    text-align: center;
    margin: 0 auto;
}
.logo, .login-link{
    width: 6rem;
    height: 3rem;
    background-color: none;
    margin: 0 auto;
    text-align: center;
    color: black;
}

.combo-display{
    display: none;
}
.container-header-buttons{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.content-nav:hover{
  background-color: #412525ec;

}
.content-nav{
    padding: 1rem 1.8rem;
    background-color: var(--color-primary-dark);
    border: 1px solid  rgb(255, 255, 255);

}
/* #### HOME ################################################################################## */
.block-video{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(74deg, rgba(0,0,0,0.15) 10%, rgba(148,148,148,0) 17%, rgba(255,255,255,0) 50%, rgba(143,143,143,0) 83%, rgba(0,0,0,0.16) 90%);
    background: -webkit-linear-gradient(74deg, rgba(0,0,0,0.15) 10%, rgba(148,148,148,0) 17%, rgba(255,255,255,0) 50%, rgba(143,143,143,0) 83%, rgba(0,0,0,0.16) 90%);
    background: linear-gradient(74deg, rgba(0,0,0,0.15) 10%, rgba(148,148,148,0) 17%, rgba(255,255,255,0) 50%, rgba(143,143,143,0) 83%, rgba(0,0,0,0.16) 90%);
}
.video-container{
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  }
      
  iframe {
    position: absolute;

    width: 100%;
    height: 100%;
  }
  #player {
    width: 100%;
    height: 100%;
  }
  
  #mute-button {
    position: fixed;
    bottom: 20px;
    left: 10px;
    border: solid black 1px;
    background-color: #f009;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.5rem;
    z-index: 90000000;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
  
/* #### FORMS ################################################################################# */
.register-form{
    /* position: absolute; */
    background-color: white;

    z-index: 30;
    font-size: 1.4rem;
    width: 900px;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
input, select, button, textarea{
    font-size: 1.4rem;
    /* padding: 0.39rem  1.0rem; */
    margin: 0.2rem;
    max-width: 99%;
}
#help-text{
    font-size: smaller;
    color: var(--color-success-dark);
}
.input-text-form-out-obj{
    align-self: right;
    width: 5rem;
    right: 0;
}
.error{
    font-size: 0.7rem;
    color: var(--color-error-dark);
}
/* ###################################################################### MESSAGES */
.message{
	/* width: 30%;
	position: absolute; */
	padding: 1rem;
	border-radius: 4px;
	border: 1px solid var(--color-primary-dark);
	background: var(--color-primary-light);
	color: var(--font-color);
	text-align: center;
	top: 15px;
    right: 15px;
}
.message-error {
	border: 1px solid var(--color-error-dark);
	background: var(--color-primary-light);
	color: var(--color-error-dark);
}
.message-success {
	border: 1px solid var(--color-success-dark);
	background: var(--color-primary-light);
	color: var(--color-success-dark);
}

/* #### OUT OBJ ################################################################## */
.content-container-out-obj{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: center;
    
}
.avaible-objs{
    background-color: white;
    overflow-y: scroll;
    max-height: 46rem;
    width: 45%;
    border: solid 1px black;
    height: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin: 0.5rem;
}
.will-use{
    background-color: white;

    width: 45%;
    border: solid 1px black;
    padding: 0.5rem;
    height: 100%;
    border-radius: 0.5rem;
    margin: 0.5rem;

}
/* #### REQUESTS PAGE */
.content-container{
    width: 90rem;
    margin: 0 auto;
    padding: 0.3rem;
}
.title-container-out-obj{
    background-color: #cccccc;
    padding: 0.3rem;
    text-align: center;
    margin: 0px;
}
.father-detail{
    margin: 0.2rem;
    cursor: pointer;
 
}
.open{
    
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(5, 139, 0), rgb(50, 160, 204)) border-box;
    border: 4px solid transparent;

}
.detail-return{
    display: none;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;

}
.ended{

    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(139, 0, 0), darkorchid) border-box;
    border: 4px solid transparent;
}
.detail-return tr, 
.detail-return th, 
.detail-return td{
    border: solid black 1px;
}
.input-request-form{
    width: 40rem;
}
.watermarked {
    position: relative;
    overflow: hidden;
  }
  
  .watermarked img {
    width: 100%;
  }
  
  .watermarked::before {
    position: absolute;
    top: -55%;
    left: -35%;
    display: block;
    width: 150%;
    height: 150%;
    transform: rotate(-15deg);
    content: attr(data-watermark);
    opacity: 0.7;
    line-height: 3em;
    letter-spacing: 2px;
    color: #d40b0b;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}
#icone-doc{
    color:black; 
    padding:0.4rem; 
    float:right; 
    font-size:36px; 
    cursor: pointer;
}
@media screen and (max-width: 1630px) {
    a{
        text-decoration: none;
        font-size: 2.3rem;
        color: white
        
    }
    .block-video{
        position: inherit;
    }
    .combo-display{
        display: block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        color: black;
        top: 2.5rem;
        right: 6rem;
        font-size:3rem;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
}
    .logo{
        width: 15rem;
        height: 7rem;
        /* position: absolute; */
        margin: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .login-link{
        display: none;

    }
    .container-header-buttons{
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .container-header-buttons a:hover{
      background-color: inherit;
    
    }
    .content-nav{
        display: none;
        background-color: none;

        /* padding: 1rem 1.8rem; */
        border: inherit;
    
    }
    .responsive {
        position: absolute;
        z-index: 100000000;
        width: 100vw;
        height: 100vh;
        background-color: #000000b9;
    }
 
    .container-header-buttons.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      background-color: wheat;
    }
    .container-header-buttons.responsive a {
        float: none;
        display: block;
        text-align: center;
        background-color: #0000;
        color: white;
    }
    .content-container-out-obj{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        justify-content: center;
        flex-direction: column;
    }
    .avaible-objs{
        
        width: 90%;
        margin: 1% auto;
        
    }
    .will-use{
        width: 90%;
        margin: 1% auto;

    
    }
    .content-container,
    .father-detail{
        max-width: 100%;
    }
  }
