{% extends 'pages/base.html' %}
{% load static %}

{% block 'content' %}
<div class="content-container">
    <div class="search-ext-req center">
        <h2>
            <form action="" method="get">
                {% comment %} <input type="checkbox" id="search-type" class="chk-box"> {% endcomment %}
                <input type="checkbox" id="search-type" /><label id="text-span-search" for="search-type"> ID - Data </label>

                <input type="search" id="search-box" maxlength='60' name="q" list="opcoes-where" required>
                <datalist id="opcoes-where">
                <select>
                    {% for local in list_with_dicts %}
                    <option value='{{local.id}}'>{{local.id}}</option>
                    {% endfor %}
                </select>
                </datalist>
                <button type="submit">Pesquisar</button>
                <a href={% url 'dataObjects:extern-request' %}><span>Limpar</span></a>
                <span>{% if q %}
                    (Resultados para: {{q}})
                    {% endif %}</span>
            </form>
        </h2>
    </div>



    {% for item in list_with_dicts %} {% comment %} DISPACK AN LIST WITH DICT'S {% endcomment %}
    {% comment %} TITLE HERE {% endcomment %}
        {% if item.is_available %}
            <div class="father-detail open">
        {% else %}
            <div class="father-detail ended">
        {% endif %}
        {% comment %} <div class="father-detail"> {% endcomment %}
                <h2 class="title-container-out-obj">Solicitação ID: {{ item.id }}</h2>
            </div>
        
        {% comment %} AFTER THIS IS SINGLE CONTENT {% endcomment %}
        <div class="detail-return">
            {% if item.is_available %}
                <div>
            {% else %}
                <div class="watermarked" data-watermark="{{ item.values.first.date_arrived }}">
            {% endif %}
                <table>
                <th class="center">Num. <br>Invent </th><th>Equip: </th><th>Local de Uso</th><th>Responsavel</th><th>Data</th>

                {% for query in item.values %}
                
                <tr>
                <td class="center"> {{query.obj.id}} </td>
                <td> {{query.obj.name|title}} {{query.obj.brand}} {{ query.obj.manufacturer}} {% if query.obj.serial_num %}( S/N: {{query.obj.serial_num}} ){% endif %} </td> 
                <td> {{query.id_os.local}} </td> 
                <td> {{query.id_os.title}} </td> 
                <td> {{query.date_out}} </td> 
                
                </tr>
                
                {% endfor %}
                {% if item.description %}
                    <tr style="background-color:yellow"><td colspan="5"> Descrição: <b>{{item.description}}</b> </td></tr> 
                {% endif %}

                {% if request.user.is_authenticated and item.is_available %}
                    <tr>
                        <td colspan="5">
                            <form action={% url 'dataObjects:request-return' %} method="post">
                                {% csrf_token %}
                                Leve descrição: <input class="input-request-form" type="text" name="description" placeholder="Descreva o estado de chegada do equipamento"> 
                                
                                <button name="id_req" value={{item.id}}>Baixa na Solicitação -ID: {{item.id}}</button>
                                <a type="submit" onclick="window.open('../{{ item.values.first.id_os.doc_out }}')" ><i class='fas fa-file-alt' id="icone-doc"></i></a>
                            </form>                    
                        </td>
                    </tr>
                {% endif %}  
                </table>
            </div>

        </div>   
    {% endfor %}
{% include 'partials/pagination.html' %}
</div>

<script src={% static 'js/script_exter_req.js' %}></script>

{% endblock 'content' %}