{% extends 'pages/base.html' %}

{% block 'content' %}
<div class="content-container">
    <div class="search-ext-req center">
        <h2>
            <form action="" method="get">
                {% comment %} <input type="checkbox" id="search-type" class="chk-box"> {% endcomment %}
                <input type="checkbox" id="search-type" /><label id="text-span-search" for="search-type"> ID - Data </label>

                <input type="search" id="search-box" maxlength='60' name="q" list="opcoes-where" required>
                <datalist id="opcoes-where">
                <select>
                    {% for local in list_with_dicts %}
                    <option value='{{local.id}}'>{{local.id}}</option>
                    {% endfor %}
                </select>
                </datalist>
                <button type="submit">Pesquisar</button>
                <a href={% url 'dataObjects:extern-request' %}>Limpar</a>
                <span>{% if q %}
                    (Resultados para: {{q}})
                    {% endif %}</span>
            </form>
        </h2>
    </div>
    {% for item in list_with_dicts %} {% comment %} DISPACK AN LIST WITH DICT'S {% endcomment %}
    {% comment %} TITLE HERE {% endcomment %}
        {% if item.is_available %}
            <div class="father-detail open">
        {% else %}
            <div class="father-detail ended">
        {% endif %}
        {% comment %} <div class="father-detail"> {% endcomment %}
                <h2 class="title-container-out-obj">Solicitação ID: {{ item.id }}</h2>
            </div>
        
        {% comment %} AFTER THIS IS SINGLE CONTENT {% endcomment %}
        <div class="detail-return">
            {% if item.is_available %}
                <div>
            {% else %}
                <div class="watermarked" data-watermark="{{ item.values.first.date_arrived }}">
            {% endif %}
                <table>
                <th class="center">Num. <br>Invent </th><th>Equip: </th><th>Local de Uso</th><th>Responsavel</th><th>Data</th>

                {% for query in item.values %}
                
                <tr>
                <td class="center"> {{query.obj.id}} </td>
                <td> {{query.obj.name|title}} {{query.obj.brand}} {{ query.obj.manufacturer}} {% if query.obj.serial_num %}( S/N: {{query.obj.serial_num}} ){% endif %} </td> 
                <td> {{query.id_os.local}} </td> 
                <td> {{query.id_os.title}} </td> 
                <td> {{query.date_out}} </td> 
                
                </tr>
                {% endfor %}
                {% if request.user.is_authenticated and item.is_available %}
                    <tr>
                        <td colspan="5">
                            <form action={% url 'dataObjects:request-return' %} method="post">
                                {% csrf_token %}
                                Leve descrição: <input class="input-request-form" type="text" name="description" placeholder="Descreva o estado de chegada do equipamento"> 
                                
                                <button name="id_req" value={{item.id}}>Baixa na Solicitação -ID: {{item.id}}</button>
                                <a type="submit" onclick="window.open('../{{ item.values.first.id_os.doc_out }}')" ><i class='fas fa-file-alt' id="icone-doc"></i></a>
                            </form>                    
                        </td>
                    </tr>
                {% endif %}  
                </table>
            </div>

        </div>   
    {% endfor %}
{% include 'partials/pagination.html' %}
</div>

<script>
    // Selecione todas as linhas com a classe "father-detail"
const fatherDetails = document.querySelectorAll('.father-detail');

// Para cada linha com a classe "father-detail"
fatherDetails.forEach(fatherDetail => {
  // Adicione um ouvinte de eventos de clique
  fatherDetail.addEventListener('click', () => {
    // Selecione a próxima linha com a classe "detail-return"
    const detailReturn = fatherDetail.nextElementSibling;
    //console.log("CL")
    // Se a próxima linha estiver visível, oculte-a e remova a classe "active" da linha pai
    if (detailReturn.style.display === 'inherit') {
      detailReturn.style.display = 'none';
      fatherDetail.classList.remove('active');
    }
    // Caso contrário, exiba-a e adicione a classe "active" à linha pai
    else {
      // Oculte todas as linhas irmãs com a classe "detail-return"
      const siblings = fatherDetail.parentNode.querySelectorAll('.detail-return');
      siblings.forEach(sibling => {
        sibling.style.display = 'none';
        sibling.previousElementSibling.classList.remove('active');
      });
      
      detailReturn.style.display = 'inherit';
      fatherDetail.classList.add('active');
    }
  });
});
// watermark
document.querySelectorAll('.watermarked').forEach(function(el) {
    el.dataset.watermark = (el.dataset.watermark + ' ').repeat(300);
});
// pdf reader
function abrirJanelaFlutuante(url) {
    // seleciona a div da janela flutuante
    var janela = document.getElementById("janela-flutuante");
    
    // seleciona o iframe
    var iframe = document.getElementById("iframe-pdf");
    
    // define a fonte do iframe para a URL do PDF
    iframe.src = url;
    
    // mostra a janela flutuante
    janela.style.display = "block";
}

function fecharJanelaFlutuante() {
    // seleciona a div da janela flutuante
    var janela = document.getElementById("janela-flutuante");
    
    // oculta a janela flutuante
    janela.style.display = "none";
    
    // limpa a fonte do iframe
    var iframe = document.getElementById("iframe-pdf");
    iframe.src = "";
}
const searchType = document.getElementById("search-type");
const searchBox = document.getElementById("search-box");
const span_text = document.getElementById("text-span-search");

searchType.addEventListener("change", function() {
  if (this.checked) {
    searchBox.type = "date";
    //span_text.innerHTML = "Data"
  } else {
    searchBox.type = "search";
    //span_text.innerHTML = " ID "
  }
});
</script> 
{% endblock 'content' %}