{% extends 'pages/base.html' %}
{% block 'content' %}
<div class="block-video"></div>
<div class="video-container">
    {% comment %} <iframe id="youtube-player" src="https://www.youtube.com/embed/x_Gb2NaVoKY?controls=0&autoplay=1&mute=1&playsinline=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
    {% comment %} <button id="mute-button">Mudo</button> {% endcomment %}
    <div id="player"></div>
</div>
<button id="mute-button">Desmutar</button>

    <script>
      // Carrega o player de vídeo do YouTube
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            playerVars: {
                'controls': 0,
                'autoplay': 1,
                'mute': 1,
                'playsinline': 1
              },
          videoId: '{{url}}',
          events: {
            
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
    
      // Quando o player estiver pronto, comece a reproduzir o vídeo ao vivo
      function onPlayerReady(event) {
        console.log(player)
        // Quando o player estiver pronto, mostre o botão de desmutar
        document.getElementById('mute-button').style.display = 'block';
        
        // Quando o botão de desmutar for clicado, desmute o vídeo
        document.getElementById('mute-button').addEventListener('click', function() {
        if (player.isMuted()){
            player.unMute();
            document.getElementById('mute-button').innerHTML = "Mutar"

        } else{
            
           player.mute()
           document.getElementById('mute-button').innerHTML = "Desmutar"
        }
        });
    }
      // Quando o estado do player mudar, verifique se o vídeo está ao vivo ou encerrado
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
          console.log("FIM")
        } else if (event.data == YT.PlayerState.PLAYING) {
          console.log("OK")
        }
      }
    </script>
    <script src="https://www.youtube.com/iframe_api"></script>
    
  
{% endblock 'content' %}
 